<header class="navbar navbar-static-top navbar-inverse" role="banner">
    <span id="logo"><i class="fa fa-check-square-o"></i>Check!</span>
    <span id="logButton">Log In</span>
    <span id="signButton">Sign Up</span>
</header>

<section class="module content-1" id="hiddenHeader">
    <div class="ui stackable fluid grid container" id="aboutSection">
        <div class="six wide column">
            <div class="intro"> 
                <h3>Busy life?</p>
                Don't even know where to start?</p>
                Let us help!</p></h3>
                <h4>Log in or sign up and  you'll be one step closer to managing it all.<h4>
                <h4 style="font-style: italic;">It only takes a minute!</h4> 
            </div>   
        </div>
        <div class="ten wide centered column">
            <img class="ui image" src="/images/overwhelmed.jpg" id="list" alt="to-do-list">
        </div>
    </div>
</section>
